%h2.pagetitle Contact
.name Stephanie C. Weber
.address
  321 Hoyt Laboratory
  %br
  William Street
  %br
  Princeton, NJ 08544
.phone
  (609) 258-5731
%a.email{href: 'mailto:scweber@princeton.edu'}
  scweber@princeton.edu


