%h2.pagetitle Contact
.name Stephanie C. Weber
.address
  202A Daly Science Center
  %br
  500 El Camino Real
  %br
  Santa Clara, CA 95053
.phone
  (408) 551-3438
%a.email{href: 'mailto:sweber@scu.edu'}
  sweber@scu.edu

