%h2.pagetitle Spatial Organization of Living Systems

Both prokaryotic and eukaryotic cells are crowded with macromolecules that form highly organized yet dynamic structures.  While advances in fluorescence microscopy enable us to visualize heterogeneous localization patterns, the physical and biochemical mechanisms underlying intracellular spatiotemporal organization remain unknown.  I am interested in understanding how biological systems establish and dynamically regulate spatial order across various length scales.

.contentpicturerow
  .contentpicturehalfcolumn
    %img.pull-left{src: 'images/ecoli2.svg'}
  .contentpicturehalfcolumn
    %img.pull-right{src: 'images/OD70fib1_8cell.svg'}
