!!!
%head
  %link{href: 'stylesheets/main.css', rel: 'stylesheet', type: 'text/css'}
%body
  #wrap
    .content
      .portraitsection
        .portraitcaption
          .captioncontent
            %h1 Stephanie C. Weber, Ph.D.
            .titledescription
              %a.fellowship{href: 'http://www.damonrunyon.org/'} Damon Runyon Postdoctoral Fellow
              %br
              %a.lablink{href: 'http://www.princeton.edu/cbe/people/faculty/brangwynne/group/'}Brangwynne Lab
              %br
              %a.deptlink{href: 'http://www.princeton.edu/cbe/'} Chemical and Biological Engineering
              %br
              = succeed " " do
                %a.pu{href: 'http://www.princeton.edu'}<>
                  Princeton University
        .portraitimage
          %img.portrait{src: 'images/photo.png'}
      .navbar.navbar-inverse{role: 'navigation'}
        .navbar-header
          %button.navbar-toggle{type: 'button', 'data-toggle' => 'collapse', 'data-target' => '#links-navbar'}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        #links-navbar.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li#home
              %a.navlink#home-link Home
            %li.divider
            %li#research
              %a.navlink#research-link Research
            %li.divider
            %li#teaching
              %a.navlink#teaching-link Teaching
            %li.divider
            %li#publications
              %a.navlink#publications-link Publications
            %li.divider
            %li#cv
              %a.navlink#cv-link CV
            %li.divider
            %li#contact
              %a.navlink#contact-link Contact

      .well
        #included-content
  #footer
    .container
      .licenseimage
        %a{rel: "license", href:"http://creativecommons.org/licenses/by/4.0/"}
          %img{alt: "Creative Commons License", style: "border-width:0",src: "http://i.creativecommons.org/l/by/4.0/88x31.png"}
      .licensetext
        Text and images on this site are licensed under a
        = succeed "." do
          %a{rel: "license", href: "http://creativecommons.org/licenses/by/4.0/"}<>
            Creative Commons Attribution 4.0 International License



  %script{src: 'https://code.jquery.com/jquery.js', type: 'text/javascript'}
  %script{src: 'javascripts/bootstrap.min.js', type: 'text/javascript'}
  %script{src: 'javascripts/includes.js', type: 'text/javascript'}
  %script{type: 'text/javascript'}
    :plain
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-48436014-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    





