!!!
%head
  %link{href: 'stylesheets/main.less', rel: 'stylesheet/less', type: 'text/css'}
%body
  .content
    .portraitsection
      .portraitcaption
        .captioncontent
          %h1 Stephanie C. Weber, Ph.D.
          .titledescription
            %a.fellowship{href: 'http://www.damonrunyon.org/'} Damon Runyon Postdoctoral Fellow
            %br
            %a.lablink{href: 'http://www.princeton.edu/cbe/people/faculty/brangwynne/group/'}Brangwynne Lab
            %br
            = succeed " " do
              %a.pu{href: 'http://www.princeton.edu'}<>
                Princeton University
            %a.deptlink{href: 'http://www.princeton.edu/cbe/'} Chemical and Biological Engineering
      .portraitimage
        %img.portrait{src: 'images/photo.png'}
    .navbar.navbar-inverse{role: 'navigation'}
      .navbar-header
        %button.navbar-toggle{type: 'button', 'data-toggle' => 'collapse', 'data-target' => '#links-navbar'}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      #links-navbar.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li#home
            %a.navlink#home-link{href: '#'} Home
          %li.divider
          %li#research
            %a.navlink#research-link{href: '#'} Research
          %li.divider
          %li#publications
            %a.navlink#publications-link{href: '#'} Publications
          %li.divider
          %li#cv
            %a.navlink#cv-link{href: '#'} CV
          %li.divider
          %li#contact
            %a.navlink#contact-link{href: '#'} Contact

    .well
      #included-content

  %script{src: 'https://code.jquery.com/jquery.js', type: 'text/javascript'}
  %script{src: 'javascripts/less-1.5.0.min.js', type: 'text/javascript'}
  %script{src: 'javascripts/bootstrap.min.js', type: 'text/javascript'}
  %script{src: 'javascripts/includes.js', type: 'text/javascript'}
