%h2.pagetitle Research

.contentsection
  .contentcaption
    My research focuses on understanding how biological systems establish and dynamically maintain spatial organization.  In graduate school, I used live cell microscopy, computational image analysis and Brownian dynamics simulations to study the motion of chromosomes in bacteria and yeast.  Currently, I am investigating size control mechanisms in the nematode Caenorhabditis elegans.  Specifically, I am interested in how a multicellular organism regulates and coordinates the growth of structures across the molecular, cellular and organismal length scales.    
  .contentpicture
    %img.odd{src: 'images/fib1_8cell.svg'}

