%h2.pagetitle Research

.contentsection
  .contenttext
    %h3 Organelle Assembly and Size Control

    As a postdoc in the
    %a{href: 'http://www.princeton.edu/cbe/people/faculty/brangwynne/group/'} Brangwynne lab,
    I investigated size control mechanisms in the nematode
    = succeed '.' do
      %span.latin Caenorhabditis elegans
    Using 3D confocal microscopy and quantitative image analysis, I characterized the assembly and growth dynamics of the nucleolus in developing embryos.  The nucleolus is a non-membrane bound organelle that produces ribosomes, molecular machines essential for cell growth and size homeostasis.

    I discovered that these organelles are governed by a concentration-dependent phase transition, in which soluble components condense into liquid-like droplets only above a threshold concentration.  In collaboration with
    %a{href: 'http://www.princeton.edu/~jmberry/'} Joel Berry
    and
    %a{href: 'http://rsdavis.mycpanel.princeton.edu/haatajagroup/'} Mikko Haataja,
    I found that nucleoli coarsen via Brownian coalescence and Ostwald ripening.  Furthermore, RNA transcription appears to stabilize nucleoli and accelerate coaresening.  Thus, non-equilibrium biological activity may modulate classical phase separation to regulate organelle size (and activity) in response to developmental or environmental conditions.
  .contentspacer
  .contentpicture
    .contentpicturerow
      .contentpicturecolumn
        %img.odd.researchimage{src: 'images/fib1_8cell.png'}
    .contentpicturerow
      .contentpicturecolumn
        .contentcaption
          Maximum intensity projection of 3D confocal stack of an 8-cell stage
          %span.latin C. elegans
          embryo expressing FIB-1::GFP
%hr
.contentsection
  .contenttext
    %h3 Anomalous Diffusion of Chromosomal Loci

    As a graduate student in the
    %a{href: 'http://cmgm.stanford.edu/theriot/'} Theriot lab,
    I explored the physical and biological mechanisms underlying macromolecular motion
    %span.latin in vivo.
    Segments of chromosomal DNA jiggle in place in the crowded bacterial cytoplasm.  By tracking the position of these loci over time, I found a robust subdiffusive scaling law for the mean square displacement.  To identify the source of this anomalous behavior, I collaborated with
    %a{href: 'http://www.stanford.edu/~ajspakow/index.html'} Andy Spakowitz
    to develop analytical theory and Brownian dynamics simulations of polymers under various physical environments.  Our experimental and theoretical observations are consistent with a fractional Langevin motion model, indicating that the viscoelastic properties of the cytoplasm significantly affect intracellular transport processes.
  .contentspacer
  .contentpicture
    .contentpicturerow
      .contentpicturehalfcolumn
        %img.odd.researchimage{src: 'images/phaseFluor84.png'}
      .contentpicturehalfcolumn
        .side-by-side-caption
          Fluorescent and phase contrast images of an E. coli cell with the replicated 84’ locus visualized by parS/GFP-ParB.
    / .contentpicturerow
    /   .contentpicturecolumn
    /     .contentcaption
    /       Fluorescent and phase contrast images of an E. coli cell with the replicated 84’ locus visualized by parS/GFP-ParB.
    / .contentpicturerow
    /   .contentpicturecolumn
    /     .contentcaption
    /       The velocity autocorrelation function for the 84’ locus in E. coli.  The negative peak at short times persists across all values of \delta, consistent with a fractional Langevin motion mechanism for anomalous subdiffusion.
%hr
.contentsection
  .contenttext
    %h3 Nonthermal ATP-dependent Fluctuations

    Chromosomal locus motion is significantly reduced when ATP synthesis is inhibited.  Furthermore, the temperature dependence of locus motion is steeper in untreated cells than in energy-depleted cells.  These observations suggest that ATP-dependent enzymatic activity, in addition to thermal fluctuations, contribute to the molecular agitation driving (sub)diffusion in the cell.
  .contentspacer
  .contentpicture
    .contentpicturerow
      .contentpicturecolumn
        %img.odd.scaledown.researchimage{src: 'images/superthermal.svg'}
    .contentpicturerow
      .contentpicturecolumn
        .contentcaption
          The apparent diffusion coefficient
          = surround '(', ')' do
            D
            %span.sub app
          of chromosomal loci increases superthermally with temperature in untreated cells.
