@import "../bootstrap-3.0.3/less/bootstrap.less";

.whitetext {
  color: #eeeeee;
}

.inverse-colors {
  background-color: #000000;
  .whitetext;
}

.opensans {
  font-family: Open Sans, sans-serif;
}

body {
  .opensans;
  .inverse-colors;
}

h1, h2, h3{
  .opensans;
}


.content {
  .container;
}

.portraitsection {
  margin-top: 3%;
  margin-bottom: 3%;
  .make-row();
}

.contentsection {
  .make-row();
}

.contentcaption {
  .make-lg-column(7);
}
.contentpicture {
  .make-lg-column(5);
}

.odd {
  float: right;
}

.even {
  float: left;
}

.pagetitle {
  margin-top: -1%;
}

.portraitcaption {
  .make-lg-column(8);
}

.portraitimage {
  .make-lg-column(4);
}

img {
  max-width: 100%;
}

img.portrait {
  max-width: 50%;
  float: right;
}


#links-navbar {

}

.pu {
  .whitetext;
  //color: #ff7700;
}

.well {
  background-color: #000000;
  border-color: #555555;
}

.titledescription {
}

.journal {
  font-style: italic;
}

.volume {
  font-weight: bold;
}

.latin {
  font-style: italic;
}

.publication {
  margin-top: 10px;
  margin-bottom: 10px;
}

.fellowship {
  .whitetext;
}

.lablink {
  .whitetext;
}

.deptlink {
  .whitetext;
}
